@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #37B34A;
}
nav {
    display: flex;
    margin: 0;
    padding: 0;
}
.title {
    margin-top: 45px;
    margin-left: 89px;
    
}
.title button {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background-color: #37B34A;
    border: none;
    cursor: pointer;
}
.button__profile {
    
    margin-top: 51px;
    margin-left: auto;
    margin-right: 90px;
}
.button__profile button{
    background-color: #37B34A;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border: none;
    cursor: pointer;
}