@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @import './pages/Home/home.css';
  @import './pages/Home/сomponents/Posts/components/AddPost/addPost.css';
  @import './pages/Home/сomponents/Posts/components/Post/post.css';
  @import './pages/Home/сomponents/Nav/nav.css';
  @import './pages/Home/сomponents/Nav/сomponents/PersonData/personData.css';
  @import './pages/Home/сomponents/Nav/сomponents/AddPost/addPost.css';
  @import './pages/Home/сomponents/Nav/сomponents/FilterModal/filterModal.css';
  @import './pages/Home/сomponents/PostPage/postPage.css';
  @import './pages/Home/сomponents/PostPage/components/Comments/comments.css';
  @import './pages/Home/сomponents/Subscribes/subscribes.css';
  @import './pages/Home/сomponents/Dialogs/dialogs.css';
  @import './pages/Login/login.css';
  @import './pages/SignUp/signup.css';
  @import './pages/Home/сomponents/Dialogs/сomponents/Dialog/dialog.css';
  @import './pages/Home/сomponents/Dialogs/сomponents/Dialog/components/Messages/сomponents/Message/message.css';
  @import './pages/Home/сomponents/Dialogs/сomponents/Dialog/components/Messages/messages.css';
  @import './components/ux/Modal/modal.css';
  @import './pages/Home/сomponents/Profile/profile.css';
  @import './components/ux/Warning/warning.css';
  @import './pages/Home/сomponents/Notifications/notification.css';
}

@layer base {
  @import '../node_modules/modern-normalize/modern-normalize.css';
}
@layer utilities {
  .react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color 0.2s;
  }

  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }

  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
  }

  .react-switch-label:active .react-switch-button {
    width: 60px;
  }
}
